@model AspnetWeb.ViewModel.LoginViewModel


<div class="login">
	<input type="text" id="userid" placeholder="UserID" required>
	<input type="password" id="password" placeholder="Password" required>
	<div class="email-container">
		<span class="left">
			<button onclick="emaillogin()">Login</button>
		</span>
		<span class="right">
			<button onclick="jwtlogin()">JWT Login</button>
		</span>
	</div>
	<div class="social-container">
		<p>or use Google for Login</p>
		<a href="https://localhost:44396/Account/GoogleLogin" class="social"><i class="fab fa-google-plus-g"></i></a>
	</div>
</div>


@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	

	<script>
		async function emaillogin() {
			const userid = document.getElementById("userid").value;
			const passwordInput = document.getElementById('password').value;
			let hashedPassword = "";
			if (passwordInput != "") {
				hashedPassword = sha256(passwordInput).toString();
			}


			const response = await fetch("https://localhost:44396/Account/Login", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					UserId: userid,
					UserPassword: hashedPassword
				})
			});

			// 비밀번호 입력 필드 초기화
			document.getElementById('password').value = '';
		}

		async function jwtlogin() {
			const userid = document.getElementById("userid").value;
			const passwordInput = document.getElementById('password').value;
			let hashedPassword = "";
			if (passwordInput != "") {
				hashedPassword = sha256(passwordInput).toString();
			}


			const response = await fetch("https://localhost:44396/Account/JWTLogin", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					UserId: userid,
					UserPassword: hashedPassword
				})
			});

			
			// 비밀번호 입력 필드 초기화
			document.getElementById('password').value = '';
		}
	</script>

	<script type="text/javascript">
		function showSignUpAlert() {
			if (confirm("로그인에 실패했습니다. 회원가입 하시겠습니까?")) {
				window.location.href = '/Account/Register';
			}
		}
	</script>
	@if (ViewData["LoginFailed"] != null && (bool)ViewData["LoginFailed"])
	{
		<script type="text/javascript">
			showSignUpAlert();
		</script>
	}
}
