@model AspnetWeb.ViewModel.LoginViewModel


<form class="login" method="post" asp-controller="Account" asp-action="Login">
	<div class="text-danger" asp-validation-summary="ModelOnly"></div>
	<input type="text" asp-for="UserId" placeholder="UserID">
	<span class="text-danger" asp-validation-for="UserId"></span>
	<input type="password" asp-for="UserPassword" placeholder="Password">
	<span class="text-danger" asp-validation-for="UserPassword"></span><br />
	<button type="submit">Login</button>
</form>

@section Scripts {
    <script type="text/javascript">
        function showSignUpAlert() {
            if (confirm("로그인에 실패했습니다. 회원가입 하시겠습니까?")) {
                window.location.href = '/Account/Register';
            }
        }
    </script>
    @if (ViewData["LoginFailed"] != null && (bool)ViewData["LoginFailed"])
    {
        <script type="text/javascript">
            showSignUpAlert();
        </script>
    }
}
