@model AspnetWeb.Models.OAuthUser

<link rel="stylesheet" href="~/css/otherstyle.css" asp-append-version="true" />


<h1>@ViewData["Name"] 님 환영합니다. </h1>
<br />
<h2>구글 UID: @Model.GoogleUID</h2>
<h2>구글 이메일: @Model.GoogleEmail</h2>