@model List<AspnetWeb.Models.ShoppingList>

<link rel="stylesheet" href="~/css/shopstyle.css" asp-append-version="true" />

<h1>Shop</h1>
<table class="rwd-table">
	<tr>
		<th>Product</th>
		<th>Count</th>
		<th>Price</th>
	</tr>
	<tr>
		<td data-th="Product">
			<span id='product1'>Corn</span>
		</td>
		<td data-th="Count">
			<span class="left">
				<button onclick='count("plus1")'>+</button>
			</span>
			<span id='result1'>1</span>
			<span class="right">
				<button onclick='count("minus1")'>-</button>
			</span>
		</td>
		<td data-th="Price">
			<span id='price1'>3500</span>
		</td>
		<td data-th="Price">
			<button onclick='addCart("1")'>Add Cart</button>
		</td>
	</tr>
	<tr>
		<td data-th="Product">
			<span id='product2'>Cucumber</span>
		</td>
		<td data-th="Count">
			<span class="left">
				<button onclick='count("plus2")'>+</button>
			</span>
			<span id='result2'>1</span>
			<span class="right">
				<button onclick='count("minus2")'>-</button>
			</span>
		</td>
		<td data-th="Price">
			<span id='price2'>2000</span>
		</td>
		<td data-th="Price">
			<button onclick='addCart("2")'>Add Cart</button>
		</td>
	</tr>
	<tr>
		<td data-th="Product">
			<span id='product3'>Rainboots</span>
		</td>
		<td data-th="Count">
			<span class="left">
				<button onclick='count("plus3")'>+</button>
			</span>
			<span id='result3'>1</span>
			<span class="right">
				<button onclick='count("minus3")'>-</button>
			</span>
		</td>
		<td data-th="Price">
			<span id='price3'>20000</span>
		</td>
		<td data-th="Price">
			<button onclick='addCart("3")'>Add Cart</button>
		</td>
	</tr>


</table>
<h2>Total</h2>
<table class="rwd-table" id="shop-total">
	<thead>
		<tr>
			<th>Product</th>
			<th>Count</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td>
				<button onclick='sendData()'>Buy</button>
			</td>
		</tr>
	</tfoot>
</table>


<br />

<h1>Shopping List</h1>
<table class="rwd-table">
	<tr>
		<th>Product</th>
		<th>Count</th>
		<th>Price</th>
		<th>PurchaseDate</th>
	</tr>
	@if (Model != null)
	{
		@for (int i = 0; i < Model.Count; i++)
		{
			<tr>
				<td data-th="Product">@Model[i].Product</td>
				<td data-th="Count">@Model[i].Count</td>
				<td data-th="Price">@Model[i].Price</td>
				<td data-th="PurchaseDate">@Model[i].PurchaseDate</td>
			</tr>
		}
	}
</table>

@section Scripts {
	<script>
		function getPrice(productname) {
			let price = 0;
			if (productname == 'Corn') {
				price = 3500;
			}
			else if (productname == 'Cucumber') {
				price = 2000;
			}
			else {
				price = 20000;
			}

			return price;
		}
		function count(type) {
			// 마지막 문자열 추출
			let lastChar = type.slice(-1);

			// 개수, 가격 결과를 표시할 element
			const resultElement = document.getElementById('result' + lastChar);
			const priceElement = document.getElementById('price' + lastChar);



			// 현재 화면에 표시된 값
			let number = resultElement.innerText;
			// price
			const productname = document.getElementById('product' + lastChar).innerText;
			let price = getPrice(productname);

			// 더하기/빼기
			if (type.slice(0, -1) == 'plus') {
				number = parseInt(number) + 1;
				price = price * parseInt(number);
			}
			else if (type.slice(0, -1) == 'minus') {
				if (parseInt(number) == 1) {
					if (lastChar == "4") {
						const element = document.getElementById("Corn");
						element.remove();

						return;
					}
					if (lastChar == "5") {
						const element = document.getElementById("Cucumber");
						element.remove();

						return;
					}
					if (lastChar == "6") {
						const element = document.getElementById("Rainboots");
						element.remove();

						return;
					}

					number = 0;
					price = 0;

				}
				else {
					number = parseInt(number) - 1;
					price = price * parseInt(number);
				}
			}


			// 결과 출력
			resultElement.innerText = number;
			priceElement.innerText = price;
		}



		function addCart(type) {
			console.log("addcart");
			let lastChar = type.slice(-1);

			const productname = document.getElementById('product' + lastChar).innerText;
			const result = document.getElementById('result' + lastChar).innerText;
			const price = document.getElementById('price' + lastChar).innerText;

			console.log("Productname: ", productname);
			console.log("개수: ", result);
			console.log("가격: ", price);

			// 장바구니
			const shopTotalTableBody = document.querySelector("#shop-total tbody");

			// 만약 동일한 상품이 이미 장바구니에 존재한다면 개수만 증가
			const isRow = document.getElementById(productname);
			if (isRow) {
				if (productname == 'Corn') {
					let isResultElem = document.getElementById("result" + "1");
					let isPriceElem = document.getElementById("price" + "1");

					let isResult = parseInt(isResultElem.innerText);
					let isPrice = parseInt(isPriceElem.innerText);

					console.log("연산 전 isResult: ", isResult);
					console.log("연산 전 isPrice: ", isPrice);

					// 결과를 반영할 element
					let resultElem = document.getElementById("result" + "4");
					let priceElem = document.getElementById("price" + "4");

					isResult += parseInt(resultElem.innerText);
					isPrice += parseInt(priceElem.innerText);

					console.log("연산 후 isResult: ", isResult);
					console.log("연산 후 isPrice: ", isPrice);


					// 값을 업데이트한 후, DOM에 다시 반영하기 위해 innerText 속성을 설정.
					resultElem.innerText = isResult;
					priceElem.innerText = isPrice;
				}
				else if (productname == 'Cucumber') {
					let isResultElem = document.getElementById("result" + "2");
					let isPriceElem = document.getElementById("price" + "2");

					let isResult = parseInt(isResultElem.innerText);
					let isPrice = parseInt(isPriceElem.innerText);

					let resultElem = document.getElementById("result" + "5");
					let priceElem = document.getElementById("price" + "5");

					isResult += parseInt(resultElem.innerText);
					isPrice += parseInt(priceElem.innerText);

					resultElem.innerText = isResult;
					priceElem.innerText = isPrice;
				}
				else {
					let isResultElem = document.getElementById("result" + "3");
					let isPriceElem = document.getElementById("price" + "3");

					let isResult = parseInt(isResultElem.innerText);
					let isPrice = parseInt(isPriceElem.innerText);

					let resultElem = document.getElementById("result" + "6");
					let priceElem = document.getElementById("price" + "6");

					isResult += parseInt(resultElem.innerText);
					isPrice += parseInt(priceElem.innerText);

					resultElem.innerText = isResult;
					priceElem.innerText = isPrice;
				}
				return;
			}

			const row = document.createElement("tr");
			row.id = productname;

			// productname 별로 장바구니 버튼 id 지정
			let plusButtonValue = 0;
			if (productname == 'Corn') {
				plusButtonValue = "4";
			}
			else if (productname == 'Cucumber') {
				plusButtonValue = "5";
			}
			else {
				plusButtonValue = "6";
			}

			const cell_name = document.createElement("td");
			const cell_result = document.createElement("td");
			const cell_price = document.createElement("td");

			cell_name.textContent = productname;
			cell_name.id = 'product' + plusButtonValue;
			cell_price.textContent = price;
			cell_price.id = 'price' + plusButtonValue;


			// result <td>의 span 자식들 생성
			let spanLeft = document.createElement('span');
			spanLeft.className = 'left';

			let spanResult = document.createElement('span');
			spanResult.id = 'result' + plusButtonValue;
			spanResult.textContent = result;

			let spanRight = document.createElement('span');
			spanRight.className = 'right';

			// <button> 요소들을 생성합니다.
			let plusButton = document.createElement("button");
			plusButton.textContent = "+";
			plusButton.onclick = () => count("plus" + plusButtonValue);

			let minusButton = document.createElement("button");
			minusButton.textContent = "-";
			minusButton.onclick = () => count("minus" + plusButtonValue);

			// 생성된 <button> 요소들을 각각의 <span> 요소에 추가
			spanLeft.appendChild(plusButton);
			spanRight.appendChild(minusButton);

			// 생성된 <span> 요소들을 <td> 요소에 추가
			cell_result.appendChild(spanLeft);
			cell_result.appendChild(spanResult);
			cell_result.appendChild(spanRight);


			// <tr> 행에 자식들 추가
			row.appendChild(cell_name);
			row.appendChild(cell_result);
			row.appendChild(cell_price);

			shopTotalTableBody.appendChild(row);
		}


		// 모델과 뷰 !! M V


		// 장바구니 데이터를 클라이언트측에서 자바스크립트 전역변수로 관리하기 !!!!!!!!!!!!!
		// 뷰를 고칠때 데이터를 한번 훑어서 고쳐주기
		// 그러면 나중에 저장된 데이터만 훑어봐서 서버에 보내주면 된다

		// 데이터가 변경되면 변경사항 반영해서 다시 뷰에 뿌려주는 함수 만들기

		// 장바구니에 담아놓기만 하고 구매하지 않은 상품은 로컬스토리지에 담아두면 됨

		// 판매 상품 목록도 html에 박아두는 것이 아닌 서버에서 응답으로 json데이터를 받아와서 while문을 돌면서 화면에 뿌려주기 -> innerHtml
		// 서버에서 상품목록을 받아오면 거기에 있는 상품명을 사용하기

		async function sendData() {
			console.log("sendData called.");

			const isCorn = document.getElementById("Corn");
			const isCucumber = document.getElementById("Cucumber");
			const isRainboots = document.getElementById("Rainboots");

			const time = new Date();
			const isotime = time.toISOString();
			let index = 0;
			let sendObject = new Array();

			if(isCorn){
				const count = document.getElementById('result' + "4").innerText;
				const price = document.getElementById('price' + "4").innerText;
				sendObject[index++] = {
					Product: "corn",
					Count: count,
					Price: price,
					PurchaseDate: isotime
				};
			}

			if (isCucumber) {
				const count = document.getElementById('result' + "5").innerText;
				const price = document.getElementById('price' + "5").innerText;

				sendObject[index++] = {
					Product: "cucumber",
					Count: count,
					Price: price,
					PurchaseDate: isotime
				};
			}

			if (isRainboots) {
				const count = document.getElementById('result' + "6").innerText;
				const price = document.getElementById('price' + "6").innerText;

				sendObject[index++] = {
					Product: "rainboots",
					Count: count,
					Price: price,
					PurchaseDate: isotime
				};
			}

			console.log(sendObject);

			await fetch('https://localhost:44396/api/MyPage/ShoppingList', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
				body: JSON.stringify(sendObject),
				})
					.then(response => {
						if (!response.ok) {
							if (confirm("회원만 구매할 수 있습니다. 로그인 하시겠습니까?")) {
								window.location.href = '/Account/Login';
							} else {
								location.reload();
							}
						}
						else {
							window.location.href = '/MyPage/Shop';
						}
					});
			

			



		}
	</script>


}


